<!doctype html>
<html>
<head>
    <%- include("../partials/admin/head.ejs") %>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <%- include("../partials/admin/header.ejs") %>
    <%- include("../partials/admin/sidebar.ejs") %>
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>List Orders - Diproses </h1>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama Lengkap</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Total Harga</th>
                    <th>Alamat</th>
                    <th>No Telepon</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% if(typeof result!=='undefined') { %>
                        <% var no = 1 %>
                        <% for (var i=0 ; i<result.length ; i++) { %>
                  <tr>
                    <td><%= no %></td>
                    <% no++ %>
                    <td>
                    <%=result[i].nama_user %>
                    </td>
                    <td>
                        <figure class="itemside">
                            <div class="aside"><img src="/images/<%=result[i].foto; %>" class="img-sm"></div>
                            <figcaption class="info">
                                <a class="title text-dark"> <%=result[i].nama_product %></a>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <var class="price" style="text-align: left;"><%=result[i].quantity %></var> 
                    </td>
                    <td> 
                        <%= rupiah.convert(result[i].total_harga) %>
                    </td>
                    <td>
                    <%=result[i].alamat %>
                    </td>
                    <td>
                    <%=result[i].no_tlp %>
                    </td>
                    <td>
                      <button type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#proses<%= result[i].id_order %>" >
                        <span class="text">Konfirmasi Proses</span>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="proses<%= result[i].id_order %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-truck-loading"></i> Konfirmasi Penyelesaian Proses Pesanan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                         </div>
                        <div class="modal-body text-left">
                        Apakah pesanan ini telah selesai diproses dan siap untuk dikirim ?
                        </div>
                        <form method="post">
                        <input type="hidden" class="form-control" name="status" value="Dikirim">
                        <input type="hidden" class="form-control" name="id_order" value="<%= result[i].id_order %>">
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                        <button type="submit" class="btn btn-success" >Ya</a>
                        </form>
                        </div>
                        </div>
                        </div>
                    </td>
                </tbody>
                <% } %>
            <% } %>
            </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
</body>
</html>