<!doctype html>
<html>
<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <header class="section-header">
        <%- include("./partials/user/header.ejs") %>
    </header>
    <!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Order List</h2>
        <nav>
        <ol class="breadcrumb text-white">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
            <li class="breadcrumb-item"><a href="/order">Order</a></li>
        </ol>  
        </nav>
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    <section class="section-content padding-y bg">
        <div class="container">
        <!-- ============================ COMPONENT FILTER TOP 1 ================================= -->
        <div class="card">
        <div class="card-body d-flex">
            <div class="form-inline d-inline-flex mr-auto">
                <h5 class="card-title mb-">Status Pemesanan Product: </h5>
            </div>
            <div class="btn-group" role="group" aria-label="Filter by">
                <a href="/order" class="btn btn-outline-primary"><i class="fas fa-spinner"></i> Menunggu Konfirmasi</a>
                <a href="/order/diproses" class="btn btn-outline-primary"><i class="fas fa-truck-loading"></i> Diproses</a>
                <a href="/order/dikirim" class="btn btn-outline-primary"><i class="fas fa-truck"></i> Dikirim</a>
                <a href="/order/diterima" class="btn btn-outline-primary"><i class="fas fa-check-circle"></i> Diterima</a>
            </div>
        </div>
        </div> <!-- card.// -->
        <br>
        <h6 class="card-title mb-" style="text-align: center;">Order List: Dikirim</h6>
        <main>
            <div class="card">
            <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
            <tr class="small text-uppercase">
                <th scope="col">No</th>
                <th scope="col" width="180">Nama Lengkap</th>
              <th scope="col" width="180">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col" width="180">Price</th>
              <th scope="col" width="180">Alamat</th>
              <th scope="col" width="180">No Telepon</th>
              
            </tr>
            </thead>
            <tbody>
            <tr>
                <% if(typeof result!=='undefined') { %>
                    <% var no = 1 %>
                    <% for (var i=0 ; i<result.length ; i++) { %>
                <td>
                    <var class="price" style="text-align: left;"><%= no %></var> 
                    <% no++ %>
                </td>
                <td> 
                        <var class="price" style="text-align: left;"><%=result[i].nama_user %></var> 
                </td>
                <td>
                    <figure class="itemside">
                        <div class="aside"><img src="/images/<%=result[i].foto; %>" class="img-sm"></div>
                        <figcaption class="info">
                            <a href="/product/productdetails/<%= result[i].id %>" class="title text-dark"><%=result[i].nama_product %></a>
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <var class="price" style="text-align: left;"><%=result[i].quantity %></var> 
                </td>
                <td> 
                    <div class="price-wrap"> 
                        <var class="price"><%= rupiah.convert(result[i].total_harga) %></var> 
                        <small class="text-muted"> <%= rupiah.convert(result[i].harga) %>/product </small> 
                    </div> <!-- price-wrap .// -->
                </td>
                <td>
                    <var class="price" style="text-align: left;"><%=result[i].alamat %></var> 
                </td>
                <td>
                    <var class="price" style="text-align: left;"><%=result[i].no_tlp %></var>
                </td>
                <td>
                    <button type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#kirim<%= result[i].id_order %>" >
                        <span class="text">Konfirmasi</span>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="kirim<%= result[i].id_order %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-check-circle"></i> Konfirmasi Penerimaan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                         </div>
                        <div class="modal-body text-left">
                        Apakah pesanan ini telah sampai dalam kondisi yang baik-baik saja ?
                        </div>
                        <form method="post">
                        <input type="hidden" class="form-control" name="status" value="Diterima">
                        <input type="hidden" class="form-control" name="id_order" value="<%= result[i].id_order %>">
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                        <button type="submit" class="btn btn-success" >Ya</a>
                        </form>
                        </div>
                        </div>
                        </div>
                        </div>
                </td>
            </tr>
            <% } %>
            <% } %>
            </tbody>
            </table>
            </div>
        </main>
        <br>
        <h6 class="card-title mb-" style="text-align: center;">Detail Status Pemesanan Product</h6>
        <div class="row">
            <div class="col-md-3 mb15">
                <article class="card card-body">
                    <figure class="text-center">
                        <span class="rounded-circle icon-md bg-primary"><i class="fas fa-spinner white"></i></span>
                        <figcaption class="pt-4">
                        <h5 class="title">Menunggu Konfirmasi Admin</h5>
                        <p>Pada tahapan ini, kamu diminta untuk menunggu konfirmasi Admin terkait product yang telah di pesan.</p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
            </div><!-- col // -->
            <div class="col-md-3 mb15">
                <article class="card card-body">
                    <figure class="text-center">
                        <span class="rounded-circle icon-md bg-secondary"><i class="fas fa-truck-loading white"></i></span>
                        <figcaption class="pt-4">
                        <h5 class="title">Pesananmu sedang diproses</h5>
                        <p>Padaa tahapan ini pesanan kamu sedang diproses, hal ini bisa mencakupi dalam urusan packing dan sebagainya.</p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
            </div> <!-- col // -->
            <div class="col-md-3 mb15">
                <article class="card card-body">
                    <figure class="text-center">
                        <span class="rounded-circle icon-md bg-danger"><i class="fas fa-truck white"></i></span>
                        <figcaption class="pt-4">
                        <h5 class="title">Pesananmu sedang dikirim</h5>
                        <p>Pada tahapan ini, pesanan kamu sedang dikirim oleh kurir ke alamat tujuan yang tertera di data akun kamu.</p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
            </div> <!-- col // -->
            <div class="col-md-3 mb15">
                <article class="card card-body">
                    <figure class="text-center">
                        <span class="rounded-circle icon-md bg-success"><i class="fas fa-check-circle white"></i></span>
                        <figcaption class="pt-4">
                        <h5 class="title">Pesanan telah diterima oleh mu</h5>
                        <p>Apabila pesanan mu telah datang dalam kondisi yang baik-baik saja, maka segeralah konfirmasi penerimaan pesanan</p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </article> <!-- panel-lg.// -->
            </div> <!-- col // -->
            </div>
            <!-- ============================ COMPONENT 1 END .// ================================= -->
        </div>
    </section>
        <!-- ============================ COMPONENT FILTER TOP 1 END.// ================================= -->
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <footer class="section-footer border-top">
        <%- include("./partials/footer.ejs") %>
    </footer>
        <!-- End Footer Area -->
    </div>
    
</body>

</html>